@font-face {
    font-family:"Formula" ;
    src:url('../fuentes/Formula1-Regular.otf');
}

@font-face {
    font-family:"Formula-b" ;
    src:url('../fuentes/Formula1-Bold.otf');
}

@font-face {
    font-family:"Formula-w" ;
    src:url('../fuentes/Formula1-Wide.otf');
}

@media screen and (min-width: 801px) {
    body{
        font-family: "Formula";
        font-size: 1.5vh;
        margin: 0%;
    }
    
    
    header{
        height: 50px;
        width: 98%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2%;
    }
      
    header img{
        height: 80%;
    }
    
    header a{
        position: absolute;
        right: 10px;
        height: 4%;
        margin-top: 0.5%;
    }
      
    nav{
        position: sticky;
        top: 0; 
        height: 8vh;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: red;
        z-index: 10;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 2vh;
        font-family: "Formula-b";
        text-shadow: 2px 2px black;        
        padding: 10px;
    }
    
    nav a:hover{
        transform: scale(1.2);
    }
      
    .titulo{
        height: 30px;
        width: 100%;
        text-align: center;
        font-family: "Formula-w";
        font-size: 18px;
    }

    .informacion{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .info-1{
        width: 45%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    h5{
        font-family: "Formula-b";
        font-size: 14px;
    }


    .info-1 h5{
        width: 90%;
        font-family: "Formula-b";
        font-size: 14px;
    }
   
    .post{
        width: 100%;
        text-align: justify;
        border-radius: 12px;
        border-right: 2px solid red;
        border-bottom: 2px solid red;
    }

    p{
        width: 98%;
    }

    .autor{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .comentarios{
        display: flex;
        flex-direction: row;
        margin-right: 1%;
        margin-left: 1%;
    }

    .comentarios img{
        width: 3vh;
        height: 3vh;
    }

    .resto{
        width: 35%;
        height: 100%;
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        position: sticky;
        top: 15%;
    }


    .enlaces{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 12px;
        border-right: 2px solid red;
        border-bottom: 2px solid red;

    }

    .enlaces a{
        margin-bottom: 4%;
        text-decoration: none;
        color: #000000;
    }

    .enlaces a:hover{
        font-family: "Formula-b";
        transform: scale(1.2);
    }


    iframe{
        width: 34.9vw;
        height: 40vh;
        border-radius: 12px;
        margin-top: 2vh;
    }

    .redes{
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: space-around;

    }

    .redes img{
        width: 36px;
    }

    .redes img:hover{
        transform: scale(1.2);
    }

    

    footer {
        position: relative; /* Fija el footer en la parte inferior de la ventana del navegador */
        bottom: 0; /* Lo coloca al final de la ventana */
        width: 100%; /* Ocupa todo el ancho */
        height: 50px;
        background-color: #000000; /* Cambia el color de fondo a tu preferencia */
        color: white; /* Cambia el color del texto a tu preferencia */
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    footer p{
        text-align: center; /* Centra el contenido */

    }

    footer a{
        text-decoration: none;
        color: white;
    }
}


@media screen and (max-width: 800px) {

    body{
        font-family: "Formula";
        font-size: 1.2vh;
        margin: 0%;
    }


    header{
        height: 50px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header img{
        height: 80%;
    }

    header a{
        position: absolute;
        right: 10px;
        height: 4%;
        margin-top: 0.5%;
    }
    
    nav{
        position: sticky;
        top: 0;
        z-index: 80; 
        height: 8vh;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: red;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 1.2vh;
        font-family: "Formula-b";
        text-shadow: 2px 2px black;        
        padding: 10px;
    }

    nav a:hover{
        transform: scale(1.2);
    }
    
    .titulo{
        height: 30px;
        width: 100%;
        text-align: center;
        font-family: "Formula-w";
        font-size: 1.5vh;
    }

    .informacion{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .info-1{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    h5{
        width: 80%;
        margin-left: 5%;
        font-family: "Formula-b";
        font-size: 12px;
    }

    .post{
        width: 100%;
        text-align: justify;
        border-radius: 12px;
        border-right: 2px solid red;
        border-bottom: 2px solid red;
    }

    p{
        width: 90%;
        margin-left: 5%;
    }

    .autor{
        width: 90%;
        display: flex;
        flex-direction: row;
    }


    .comentarios{
        display: flex;
        flex-direction: row;
        margin-right: 1%;
        margin-left: 1%;
    }

    .comentarios img{
        width: 3vh;
        height: 3vh;
    }

    h6{
        width: 80%;
        margin-left: 10%;
        font-family: "Formula-b";
        font-size: 12px;
    }
    
    .resto{
        width: 90%;
        height: 100%;
        margin-top: 10%;
        margin-left: 5%;
        position: sticky;
        top: 15%;
    }

    .enlaces{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 12px;
        border-right: 2px solid red;
        border-bottom: 2px solid red;
    }

    .enlaces a{
        margin-bottom: 4%;
        text-decoration: none;
        color: #000000;
    }

    .enlaces a:hover{
        font-family: "Formula-b";
        transform: scale(1.2);
    }

    iframe{
        width: 100%;
        border-radius: 12px;
        margin-top: 2vh;
    }

    .redes{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-around;
    }

    .redes img{
        width: 36px;
    }

    .redes img:hover{
        transform: scale(1.2);
    }

    footer {
        position: relative;
        bottom: 0%;  /* Lo coloca al final de la ventana */
        width: 100%; /* Ocupa todo el ancho */
        height: 50px;
        background-color: #000000; /* Cambia el color de fondo a tu preferencia */
        color: white; /* Cambia el color del texto a tu preferencia */
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    footer p{
        text-align: center;
        font-size: 1.2vh; /* Centra el contenido */

    }

    footer a{
        text-decoration: none;
        color: white;
    }
}