@font-face {
    font-family:"Formula" ;
    src:url('../fuentes/Formula1-Regular.otf');
}

@font-face {
    font-family:"Formula-b" ;
    src:url('../fuentes/Formula1-Bold.otf');
}

@font-face {
    font-family:"Formula-w" ;
    src:url('../fuentes/Formula1-Wide.otf');
}


@media screen and (min-width: 1200px ) {

    body{
        font-family: "Formula";
        font-size: 1.5vh;
        margin: 0%;
    }


    header{
        height: 50px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header img{
        height: 80%;
    }

    header a{
        position: absolute;
        right: 10px;
        height: 4%;
        margin-top: 0.5%;
    }
    
    nav{
        position: sticky;
        top: 0; 
        height: 8vh;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: red;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 2vh;
        font-family: "Formula-b";
        text-shadow: 2px 2px black;        
        padding: 10px;
    }

    nav a:hover{
        transform: scale(1.2);
    }
    
    .titulo{
        height: 30px;
        width: 100%;
        text-align: center;
        font-family: "Formula-w";
        font-size: 1.5vh;
    }


    .informacion p{
        width: 60%;
        margin-left: 20%;
        text-align: justify;
        margin-top: 2%;
    }


    footer {
        position: fixed;
        bottom: 0%;
        margin-top: 31%;
        width: 100%; /* Ocupa todo el ancho */
        height: 50px;
        background-color: #000000; /* Cambia el color de fondo a tu preferencia */
        color: white; /* Cambia el color del texto a tu preferencia */
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    footer p{
        text-align: center; /* Centra el contenido */

    }

    footer a{
        text-decoration: none;
        color: white;
    }

}



@media screen and (max-width: 1199px) {

    body{
        font-family: "Formula";
        font-size: 1.5vh;
        margin: 0%;
    }


    header{
        height: 50px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header img{
        height: 80%;
    }

    header a{
        position: absolute;
        right: 10px;
        height: 4%;
        margin-top: 0.5%;
    }
    
    nav{
        position: sticky;
        top: 0; 
        height: 8vh;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: red;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 2vh;
        font-family: "Formula-b";
        text-shadow: 2px 2px black;        
        padding: 10px;
    }

    nav a:hover{
        transform: scale(1.2);
    }
    
    .titulo{
        height: 30px;
        width: 100%;
        text-align: center;
        font-family: "Formula-w";
        font-size: 1.5vh;
    }

    .informacion p{
        width: 60%;
        margin-left: 20%;
        text-align: justify;
        margin-top: 2%;
    }

    footer {
        position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador */
        bottom: 0; /* Lo coloca al final de la ventana */
        width: 100%; /* Ocupa todo el ancho */
        height: 50px;
        background-color: #000000; /* Cambia el color de fondo a tu preferencia */
        color: white; /* Cambia el color del texto a tu preferencia */
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 1.5vh;
    }

    footer p{
        text-align: center; /* Centra el contenido */

    }

    footer a{
        text-decoration: none;
        color: white;
    }

}